.img-wrap {
  position: relative
}

.frame {
  position: absolute;
  width: 100%;
  height: 100px;
  border: solid 1px #FF0000;
  top: 0;
  left: 0;
}

.originalFileBtn {
    border: 2px solid;
    display: inline;
    padding: 2px 1em;
    position: absolute;
    color: #fb8b24;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;

}
.originalFileBtn input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
@keyframes r1 {
0%   { transform: rotate(0deg); }
25% { transform: rotate(14deg); }
50%   { transform: rotate(0deg); }
75%   { transform: rotate(-14deg); }
}

.white{
  padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    border-style: none;
}
.button {
  display: none;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000000;     /* 背景色     */
  color         : #fb8b24;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 *//* 影の設定 */
  border        : 2px solid #fb8b24;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
#many{
  color         : #fb8b24;
}

input[type=text] {
  width: 125%;
  height: 125%;
  font-size: 16px;
  transform: scale(1.0);
  width: 80%;

}
.neon{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: ゴシック;
  color: #fb8b24;
  text-shadow: 0 0 50px #fb8b24;
  letter-spacing: 5px;
  white-space: nowrap;

}

.neon:after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #fb8b24;
  filter: blur(15px);
}

.neon:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fb8b24;
  z-index: -2;
  opacity: .3;
  filter: blur(50px);
}

input[type=text] {
  font-size: 16px;
}

}

#search-form {

padding: 12px;
margin: 0 auto;
font-family: メイリオ;
}
#search-form form {
width: 100%;
display: none;
table-layout: fixed;
font-size: 14px;
}
#search-form input[type=text] {
display: table-cell;
width: 100%;
height: 38px;
padding: 10px;
box-sizing: border-box;
border-radius: 0;
-webkit-appearance: none;
}
#search-form .search-button {
display: table-cell;
vertical-align: top;
width: 20%;
}
#search-form .search-button input[type="button"] {
width: 100%;
height: 38px;
font-weight: bold;
color: #444;

background: #ddd;
padding: 0;
border-radius: 0;
-webkit-appearance: none;
}

#search-form .search-keyword {
list-style: none;
padding: 0;
margin: 12px auto 0;
}
#search-form .search-keyword li {
display: inline-block;
margin: 8px;
font-size: 12px;
}
